# terraform
**/.terraform/*

# to not expose sensitive information:
*.tfstate* 

# ignore tf build artifacts
tf-lambda/build

# don't version artifacts of local dev
.terraform.lock.hcl

# ignore node build artifacts
node-weather/coverage
node_modules/
dist
